<header class="container-fluid navbar navbar-expand-lg flex-row-reverse navbar-dark bg-dark d-flex justify-content-between">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse " id="main-menu">

        <ul class="form-inline no-p nav links ">
            <li class="nav-item align-self-center">
                <a (click)="logOut()" class="btn  btn-danger "><i class="fa fa-sign-out "></i> خروج </a>
            </li>
            <li class="nav-item align-self-center">
                <span rel="alternate" class="steel-text trans" style="color:white;">
                            |مرحبا بك ......
                </span>
            </li>
        </ul>
    </div>
</header> 
<div class="container">
    <form class="pull-right  form-inline my-5 my-lg-2" method="GET">
        <button class=" btn btn-outline-success mr-5  " type="submit"><a [routerLink]="['/employee/addtowers']"> إضافة</a></button>
        <button (click)="searchTowers(blockNumber,towerName)" class="btn  btn-info my-2 my-sm-2 mr-1" type="sumit">أبحث</button>
        <input (input)="onInit()" class="form-control mr-sm-2" type="text" placeholder="اسم البرج" name="tower" [(ngModel)]="towerName">
        <input (input)="onInit()" class="form-control mr-sm-2" type="number" placeholder="رقم البلوك" name="block" [(ngModel)]="blockNumber">
    </form>
    <table class="table">
<thead class="thead-dark">
<tr>
  <th scope="col" style="text-align:center;">رقم البرج</th>
  <th scope="col" style="text-align:center;">إسم البرج</th>
  <th scope="col" style="text-align:center;">المساحة</th>
  <th scope="col" style="text-align:center;">عدد الشقق</th>
  <th scope="col" style="text-align:center;">تفاصيل</th>
  <th scope="col" style="text-align:center;">تعديل</th>
  <th scope="col" style="text-align:center;">حذف</th>
</tr>
</thead>
<tbody>
<tr *ngFor = "let tower of towers">
  <th scope="row" style="text-align:center;">{{tower.id}}</th>
  <th style="text-align:center;">{{tower.Name}}</th>
  <th style="text-align:center;">{{tower.Area}}</th>
  <th style="text-align:center;">{{tower.flatsNumber}}</th>
  <th style="text-align:center;"><a [routerLink]="['/employee/towerdetails/',tower.id]" class="btn text-secondary px-0"><i class="fa fa-building" style="font-size:24px;color:red;"></i></a></th>
  <th style="text-align:center;"><a [routerLink]="['/employee/addtowers/',tower.id]" class="btn text-secondary px-0"><i class="fa fa-edit" style="font-size:24px;color:red;"></i></a></th>
  <th style="text-align:center;"><a class="btn text-secondary px-0" (click)="deleteTower(tower.id)"><i class="fa fa-trash" style="font-size:24px;color:red;"></i></a></th>
</tr>
</tbody>
</table>
<div class="alert alert-danger text-center" *ngIf = "towers.length == 0">No Towers to display</div>
</div>