<section class="background-flat-rose">
    <h4 class="text-center white-text p-top-1 p-bottom-1 no-m arabic">اخبار عن شركة امنحتب</h4>
</section>
<section class="container-fluid">
    <section class="row">
        <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1 col-sm-12 background-white p-top-3 p-bottom-3">
            <article class="row m-bottom-2">
                <figure class="col-sm-12 position-relative text-center hidden-xs hidden-sm d-md-block">
                    <a href="#" class="d-block position-relative">
                        <img src="{{one.Avatar}}" alt="صورة" class="img-fluid img-thumbnail">
                    </a>
                </figure>
                <div class="col-sm-12 col-md-8 text-right">
                    <h3 class="arabic">
                        <p class="link-red trans">{{one.Title}}</p>
                    </h3>
                    <p class="arabic rtl">{{one.Desc}}</p>
                    <p class="text-muted arabic rtl"><i class="fa fa-calendar"></i>{{one.created_date}}</p>
                </div>
                
            </article>
        </div>
    </section>
</section>