  <header class="container-fluid navbar navbar-expand-lg flex-row-reverse navbar-light background-white d-flex justify-content-between">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

        <!-- /////////// you logo here //////////////  -->
        <a href="#" class="navbar-brand">
            <img src="assets/images/1.png" alt="امنحتوب للتسويق العقاري" width="100"><b>   أمنحتب</b>
        </a>

        <!-- //////////////////// my nav bar ///////////////////////////// -->

        <div class="collapse navbar-collapse flex-row-reverse" id="main-menu">
            <nav class="mr-auto ml-auto align-self-center main-nav">
                <ul class="navbar-nav nav no-p">
                    <li class="nav-item active">
                        <a class="text-center nav-link trans" routerLink='/home'>الرئيسية</a>
                    </li>
                    <li class="nav-item ">
                        <a class="text-center nav-link trans" routerLink='/about-us' >عن الشركة</a>
                    </li>
                    <router-outlet></router-outlet>
                    <li class=" nav-item ">
                        <a class="text-center nav-link trans " href="#city">عن المدينة</a>
                    </li>
                    <li class="nav-item ">
                        <a class="text-center nav-link trans " routerLink='/news'>أخبار</a>
                    </li>
                    <li class="nav-item ">
                        <a class="text-center nav-link trans " routerLink='/offers'>إعلانات</a>
                    </li>
                    <li class="nav-item ">
                        <a class="text-center nav-link trans " routerLink='/maps'>الخريطة</a>
                    </li>
                    <li class="nav-item ">
                        <a class="text-center nav-link trans " routerLink='/requests'>للشكاوى والمقترحات</a>
                    </li>


                </ul>
            </nav>
        </div>
    </header>
<router-outlet></router-outlet>
    <footer>
        <section class="container-fluid footer-section ">
            <div class="row align-content-center flex-row ">
                <div class="col-lg-4 ">
                    <h5 class="text-right white-text ">
                        <span>
                        تابعنا على السوشيال ميديا
                    <a href="https://www.facebook.com/" target="_blank " rel="external " class="facebook trans "><i class="fa fa-facebook-square "></i></a>
                    <a href="https://twitter.com/" target="_blank " rel="external " class="twitter trans "><i class="fa fa-twitter-square "></i></a>
                    <a href="https://instagram.com/" target="_blank " rel="external " class="instagram trans "><i class="fa fa-instagram "></i></a>
                    </span>
                    </h5>
                </div>
                <div class="col-lg-4 d-none d-lg-block text-center ">
                    <img src="assets/images/1.png " alt="العاصمة للتسويق العقاري " alt="العاصمة للتسويق العقاري " class="trans " width="300 ">
                </div>
                <div class="col-lg-4 contact-us ">
                    <h5 class="text-right white-text ">
                        <span>
                        اتصل بنا
                    </span>
                    </h5>
                    <address class="no-m ">
                    <ul class="nav flex-column no-p ">
                        <li class="nav-item white-text text-right ">
                            <i class="fa fa-map-marker primary-text "></i> القاهرة الجديدة، التجمع الخامس، كايرو بيزنس بلازا
                        </li>
                        <li class="nav-item white-text text-right ">
                            <i class="fa fa-clock-o primary-text "></i> السبت إلى الخميس: 10 صباحاً - 6 مساءً
                        </li>
                        <li class="nav-item white-text text-right ">
                            <i class="fa fa-envelope-o primary-text "></i> info@iti.com
                        </li>
                        <li class="nav-item white-text text-right ">
                            <i class="fa fa-phone primary-text "></i> <span class="d-inline-block "> xxxxx</span>
                        </li>
                    </ul>
                </address>
                </div>
            </div>
        </section>
        <section class="container-fluid ">
            <div class="row flex-row-reverse ">
                <div class="col-md-6 col-sm-12 small ">
                    <p class="text-md-right text-center ">&copy; جميع الحقوق محفوظة لجمعية امنحتب للتسويق العقاري 2020</p>
                </div>
                <div class="col-md-6 col-sm-12 ">
                    <p class="text-md-left text-center small ">
                        <a href="#" rel="external ">تصميم : ITI project لتصميم مواقع الويب</a>
                    </p>
                </div>
            </div>
        </section>
    </footer>

    <!-- <script type="text/javascript " src="../assets/js/script.js"></script>
    <script>
        localStorage.removeItem('isMarkerDraggable');
    </script>
    <script>
        $(document).ready( window.onload = function() {
            $('.hero').slick({
                arrows: true,
                autoplay: true,
                speed: 400,
                fade: true,
                cssEase: 'linear',
                centerMode: false,
                infinite: true,
            });
        });
    </script> -->
    