<!-- ///////////////// start slider /////////////// -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google" content="notranslate" />
    <title>أمنحتب للتسويق العقاري</title>
    <link rel="shortcut icon" src="../../assets/images/1.png" />
    <link href="https://fonts.googleapis.com/css?family=Cairo:400,600,700&amp;subset=arabic" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,900" rel="stylesheet">
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBu59bO8dSz200iScX-Jy2Y6a87EtRnpF8&amp;language=ar&region=EG&amp;libraries=places"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.7.1/modernizr.min.js" defer async></script>
    
    
</head> 
<section class="hero m-bottom-3 d-flex align-items-center ">

        <div>
            <img src="https://www.c-egy.com/images/slider/slider_ar_3.jpg " alt="العاصمة للتسويق العقاري " class="img-fluid slider-large ">
            <img src="https://www.c-egy.com/images/slider/slider_ar_3_m.jpg " alt="العاصمة للتسويق العقاري " class="img-fluid slider-mobile ">
        </div>
        <div>
            <img src="https://www.c-egy.com/images/slider/slider_ar_4.jpg " alt="العاصمة للتسويق العقاري " class="img-fluid slider-large ">
            <img src="https://www.c-egy.com/images/slider/slider_ar_4_m.jpg " alt="العاصمة للتسويق العقاري " class="img-fluid slider-mobile ">
        </div>
        <div>
            <img src="https://www.c-egy.com/images/slider/slider_ar_5.jpg " alt="العاصمة للتسويق العقاري " class="img-fluid slider-large ">
            <img src="https://www.c-egy.com/images/slider/slider_ar_5_m.jpg " alt="العاصمة للتسويق العقاري " class="img-fluid slider-mobile ">
        </div>
        <div>
            <img src="https://www.c-egy.com/images/slider/slider_ar_6.jpg " alt="العاصمة للتسويق العقاري " class="img-fluid slider-large ">
            <img src="https://www.c-egy.com/images/slider/slider_ar_1_m.jpg " alt="العاصمة للتسويق العقاري " class="img-fluid slider-mobile ">
        </div>
    </section>

    <!-- /////////////////////////// -->
      
    <!-- /////////////////////////// start  second section   نبذة عن الشركة   ////////// -->
    <section class="container company ">
        <h4 class="secondary-text title m-bottom-1 col-md-6 col-md-offset-2 text-center d-sm-block d-md-none ">نبذة عن شركة العاصمة</h4>
        <div class="row align-content-center p-bottom-4 flex-row-reverse ">
            <div class="col-md-4 col-sm-12 text-center m-bottom-3 ">
                <img src="https://www.c-egy.com/images/capital-airport-medium.jpg " alt="العاصمة للتسويق العقاري " class="img-fluid d-md-block hidden-sm hidden-xs ">
                <img src="https://www.c-egy.com/images/capital-airport-small.jpg " alt="العاصمة للتسويق العقاري " class="img-fluid d-sm-block d-md-none ">
            </div>
            <div class="col-md-8 col-sm-12 text-right ">
                <h2 class="secondary-text title hidden-sm hidden-xs d-md-block ">نبذة عن شركة امنحتوب</h2>
                <p>تأسست شركة امنحتوب للتسويق العقاري لخدمة الراغبين في الشراء والاستثمار في العاصمة الإدارية الجديدة، والتي تعد أكبر مشروعات مصر منذ عقود. وهي شركة التسويق العقاري الوحيدة المتخصصة في العقارات بالعاصمة الجديدة، وتقوم الشركة بتنظيم عملية
                    الشراء والتملك في المدينة الواعدة، وتقديم أفضل الفرص لجمهور المهتمين بالاستثمار فيها.</p>
                <p>قامت الشركة على فكرة توفير حلقة الوصل بين المطورين العقاريين في العاصمة الجديدة، والأفراد والشركات الراغبة في التملك والاستثمار فيها، وذلك من خلال مقر شركتنا في التجمع الخامس بالقاهرة الجديدة. ونتيح للمشترين والمستثمرين باقة كاملة من أدوات
                    البحث التي تساعدهم في العثور على العقار المناسب، وتزويدهم بكافة المعلومات والمستجدات عن أفضل الفرص الاستثمارية والعروض العقارية في العاصمة الجديدة التي تحقق لهم القيمة المضافة.</p>
                <p>وكان فريق شركة العاصمة أول من قام بتغطية أخبار العمل في المدينة منذ وضع حجر الأساس في مايو 2015 في المؤتمر الاقتصادي في شرم الشيخ، وذلك من خلال صفحاتنا على
                    <a class="nonblock " href="https://www.facebook.com/TheNewCapitalEG " target="_blank ">فيسبوك</a> و <a class="nonblock " href="https://twitter.com/TheNewCapitalEG " target="_blank ">تويتر</a> و
                    <a class="nonblock " href="https://www.instagram.com/TheNewCapitalEG " target="_blank ">إنستجرام</a> أشهر مواقع التواصل الاجتماعي وأكثرها انتشاراً بين مستخدمي الإنترنت في مصر.</p>
                <p>ورغم أن تأسيس الشركة بدء حديثاً مع الإعلان عن الطروحات في العاصمة الجديدة، إلا أنها اكتسبت سريعاً شهرة واسعة بين جمهور المهتمين بأخبار العاصمة، لقيامها المستمر بعرض كل أخبار العمل فيها ..... </p>
                <!-- <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ullam ab tenetur vitae mollitia culpa quod. Libero maiores tempore est perspiciatis deleniti hic nisi aut odit repellat. Fuga ea tenetur natus.</p> -->

            </div>
        </div>
    </section>
    <!-- /////////////end section 2 //////////////////// -->

    <!-- ////////////////////// services section 3 ////////////////////// -->

    <section class="container-fluid services p-top-4 p-bottom-4 ">
        <h2 class="text-center white-text ">
            <span class="title ">خدماتنا</span>
        </h2>
        <div class="row justify-content-sm-center p-top-3 flex-row ">
            <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12 text-center ">
                <figure>
                    <div>
                        <img src="https://www.c-egy.com/images/services/shops.jpg " alt="محلات تجارية " class="trans animate-image ">
                    </div>
                    <figcaption class="trans ">محلات تجارية</figcaption>
                </figure>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12 text-center ">
                <figure>
                    <div>
                        <img src="https://www.c-egy.com/images/services/business.jpg " alt="مقرات إدارية " class="trans animate-image ">
                    </div>
                    <figcaption class="trans ">مقرات إدارية</figcaption>
                </figure>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12 text-center ">
                <figure>
                    <div>
                        <img src="https://www.c-egy.com/images/services/lands.jpg " alt="أراضي استثمارية " class="trans animate-image ">
                    </div>
                    <figcaption class="trans ">أراضي استثمارية</figcaption>
                </figure>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12 text-center ">
                <figure>
                    <div>
                        <img src="https://www.c-egy.com/images/services/villa.jpg " alt="فيلات وقصور " class="trans animate-image ">
                    </div>
                    <figcaption class="trans ">فيلات وقصور</figcaption>
                </figure>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12 text-center ">
                <figure>
                    <div>
                        <img src="https://www.c-egy.com/images/services/flats.jpg " alt="شقق سكنية " class="trans animate-image ">
                    </div>
                    <figcaption class="trans ">شقق سكنية</figcaption>
                </figure>
            </div>
        </div>
        <section class="text-center p-top-2 ">
            <a href="# " class="btn-lg button-beige trans ">اقرأ المزيد عن خدماتنا</a>
        </section>
    </section>

    <!-- ////////////////////// end section 3  ////////////////////// -->

    <!-- ///////////////////////section 4 ma4re3 a5ora /////////////// -->
    <section id="city" class=" container-fluid about p-top-4 p-bottom-4 ">
        <h4 class="text-center white-text ">
            <span class="title secondary-text ">مشاريع اخرى عن الشركة</span>
        </h4>
        <div class="row align-content-center p-top-3 flex-row ">
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 text-center ">
                <img src="https://www.c-egy.com/images/about/icon-04.svg " alt="مدينة للأعمال " class="img-fluid " width="166 ">
                <h4 class="secondary-text ">مدينة رقم 1</h4>
                <h5 class="light-coffee-text "><span>30%</span></h5>
                <p class="light-coffee-text ">اى كلامممم </p>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 text-center ">
                <img src="https://www.c-egy.com/images/about/icon-02.svg " alt="مدينة خضراء " class="img-fluid " width="154 ">
                <h4 class="secondary-text ">مدينة رقم 2ء</h4>
                <h5 class="green-text "><span>15</span> <small>متر<sup>2</sup></small></h5>
                <p class="green-text ">شسيشيشسيشسيشسيشيسء</p>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 text-center ">
                <img src="https://www.c-egy.com/images/about/icon-11.svg " alt="20 حي سكني " class="img-fluid " width="154 ">
                <h4 class="secondary-text ">حى التالت ي</h4>
                <h5 class="purple-text "><span>6.5</span> <small>مليون</small></h5>
                <p class="purple-text ">سيشسيشسيشسيشسيشسشيم</p>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 text-center ">
                <img src="https://www.c-egy.com/images/about/icon-08.svg " alt="مدينة كبيرة " class="img-fluid " width="154 ">
                <h4 class="secondary-text ">مدينة اربعةة</h4>
                <h5 class="beige-dark-text "><span>706</span> <small>كم<sup>2</sup></small></h5>
                <p class="beige-dark-text ">حمااااااااادة ن</p>
            </div>
        </div>

        <!-- ///////loading video from youtube about company /////////////  -->
        <!-- <section class="text-center p-top-2 ">
            <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FTheNewCapitalEG%2Fvideos%2F607053222816630%2F&show_text=1&width=1340 " width="100% " height="100% " style="border:none;overflow:hidden
                            " scrolling="no " frameborder="0 "
                allowTransparency="false "></iframe>
        </section> -->

        <!-- <section class="text-center p-top-2 ">
            <a href="https://www.c-egy.com/about-capital " class="btn-lg button-beige trans ">اقرأ المزيد عن العاصمة</a>
        </section> -->
    </section>

    <!-- ////////end section 4 about ma4are3 ///////////// -->

    <script type="text/javascript " src="../../assets/js/script.js"></script>
    <script>
        localStorage.removeItem('isMarkerDraggable');
    </script>
    <script>
        $(document).ready(function() {
            $('.hero').slick({
                arrows: true,
                autoplay: true,
                speed: 400,
                fade: true,
                cssEase: 'linear',
                centerMode: false,
                infinite: true,
            });
        });
    </script>
