<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link href="login.component.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->

        <!-- Icon -->
        <div class="fadeIn first">
            <img src="../../assets/images/1.png" id="icon" alt="User Icon" />
        </div>

        <!-- Login Form -->
        <form>
            <input type="text" id="login" class="fadeIn second" name="login" placeholder="User Name" [(ngModel)]="login.username">
            <input type="password" id="password" class="fadeIn third" name="login" placeholder="password" [(ngModel)]="login.password">
            <input type="submit" class="fadeIn fourth" value="Log In" (click)="onLogin()">
            <div *ngIf="notSubmitted" class="alert alert-danger box-msg" role="alert" id="danger" style="text-align:center;">Error Username or Password</div>
        </form>


    </div>
</div>