<header class="container-fluid navbar navbar-expand-lg flex-row-reverse navbar-dark bg-dark d-flex justify-content-between">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse " id="main-menu">

        <ul class="form-inline no-p nav links ">
            <li class="nav-item align-self-center">
                <a (click)="logOut()" class="btn  btn-danger "><i class="fa fa-sign-out "></i> خروج </a>
            </li>
            <li class="nav-item align-self-center">
                <span rel="alternate" class="steel-text trans" style="color:white;">
                            |مرحبا بك ......
                </span>
            </li>
        </ul>
    </div>
</header>
<div class="container">
<div style="background-color:black;color:white;margin:10px;text-align:center">
   <h3>التفاصيل العامة</h3>
</div>
<table class="table">
    <thead class="thead-dark-darkenblue">
        <tr>
            <th scope="col" style="text-align:center;color:red;">رقم المتجر</th>
            <th scope="col" style="text-align:center;color:red;">الطابق</th>
            <th scope="col" style="text-align:center;color:red;">البرج</th>
            <th scope="col" style="text-align:center;color:red;">البلوك</th>
            <th scope="col" style="text-align:center;color:red;">الكمباوند</th>
        </tr>
    </thead>
     <tbody>
        <tr>
           <th scope="row" style="text-align:center;">{{shop.Number}}</th>
           <th style="text-align:center;">{{shop.floorNumber}}</th>
           <th style="text-align:center;"><a [routerLink]="['/employee/towerdetails',shop.tower]">{{shop.tower}}</a></th>
           <th style="text-align:center;"><a [routerLink]="['/employee/blockdetails',block.id]">{{block?.id}}</a></th>
           <th style="text-align:center;"><a [routerLink]="['/employee/compounddetails',compound.id]">{{compound?.id}}</a></th>
        </tr>
     </tbody>
</table>
<div style="background-color:black;color:white;margin:10px;text-align:center">
   <h3>تفاصيل المالك</h3>
</div>
<table class="table">
    <thead class="thead-dark-link">
        <tr>
            <th scope="col" style="text-align:center;color:blue;">رقم المالك</th>
            <th scope="col" style="text-align:center;color:blue;">حذف الملكية</th>
        </tr>
    </thead>
     <tbody>
        <tr *ngFor="let ownership of ownerships | ownerships : sid">
           <td style="text-align:center;color:red;"><a [routerLink]="['/employee/ownerdetails',ownership?.owner]">{{ownership?.owner}}</a></td>
           <td style="text-align:center;"><a (click)="deleteOwnership(ownership.owner)" class="btn text-secondary px-0"><i class="fa fa-trash" style="font-size:24px;color:red;"></i></a></td>
        </tr>
     </tbody>
</table>
<div class="alert alert-danger text-center" *ngIf = "ownerships.length == 0">No owners to display</div>
</div>