<section class="background-flat-rose">
    <h2 class="text-center white-text p-top-1 p-bottom-1 no-m arabic">تفاصيل العرض</h2>
</section>
<section class="container-fluid">
    <section class="row">
        <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1 col-sm-12 background-white p-top-3 p-bottom-3">
            <article class="row m-bottom-2">
                <figure class="col-sm-12 position-relative text-center hidden-xs hidden-sm d-md-block">
                    <a href="#" class="d-block position-relative">
                        <img src="{{one.Avatar}}" alt="صورة" class="img-fluid img-thumbnail">
                    </a>
                </figure>
                <div class="col-sm-12 col-md-8 text-right">
                    <h2 class="arabic" style="font-weight:bold;">
                        <p class="link-red trans" style="color:red;">{{one.Title}}</p>
                    </h2>
                    <p class="text-muted arabic rtl"><i class="fa fa-calendar"></i>  {{one.created_date| date : 'medium'}}</p>
                    <p class="text-muted arabic rtl"><i class="fa fa-building"></i><span style="color:black;"> الدفع</span> :  {{one.Installement}}</p>
                    <p class="text-muted arabic rtl"><i class="fa fa-money"></i><span style="color:black;"> السعر</span> :  {{one.Cost}}</p>
                    <p *ngIf="one.Installement == 'تقسيط'" class="text-muted arabic rtl"><i class="fa fa-credit-card"></i><span style="color:black;"> المقدم</span> :  {{one.minPayment}}</p>
                    <p *ngIf="one.Installement == 'تقسيط'" class="text-muted arabic rtl"><i class="fa fa-times-circle"></i><span style="color:black;"> مدة التقسيط</span> :  {{one.Duration}}</p>
                    <p class="arabic rtl" style="font-weight:bold;">{{one.Desc}}</p>
                </div>
            </article>
        </div>
    </section>
</section>