<header class="container-fluid navbar navbar-expand-lg flex-row-reverse navbar-dark bg-dark d-flex justify-content-between">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse " id="main-menu">

        <ul class="form-inline no-p nav links ">
            <li class="nav-item align-self-center">
                <a (click)="logOut()" class="btn  btn-danger "><i class="fa fa-sign-out "></i> خروج </a>
            </li>
            <li class="nav-item align-self-center">
                <span rel="alternate" class="steel-text trans" style="color:white;">
                            |مرحبا بك ......
                </span>
            </li>
        </ul>
    </div>
</header>
<section class="container-fluid">
    <section class="row">
        <div class="col-md-6 offset-md-3 m-top-3 m-bottom-2">
            <div class="p-top-3 p-right--3 p-bottom-3 p-left--3 background-white">
                <h1 *ngIf="!bid" class="text-center primary-text title m-bottom-1">إضافة بلوك جديد </h1>
                <h1 *ngIf="bid" class="text-center primary-text title m-bottom-1">تعديل بيانات البلوك </h1>
                <form #f = "ngForm" method="POST" accept-charset="UTF-8">
                    <div class="form-group  ">
                        <label for="name"> <i class="fa fa-plus"></i>الكمباوند</label>
                        <select class="form-control" required name="cnum" #cnum="ngModel" [(ngModel)]="selectedBlock.compound">
                            <option *ngFor="let compound of compounds" value={{compound.id}}>{{compound.Name}}</option>
                        </select>
                        <div class="alert alert-danger" *ngIf = "cnum.touched && !cnum.valid">Invalid input Compound Number</div>
                    </div>
                    <div class="form-group  ">
                        <label for="num"> <i class="fa fas fa-space-shuttle"></i>رقم البلوك</label>
                        <input class="form-control" ngModel autocomplete="off" required placeholder="رقم غير مستخدم سابقا" name="bnum" [(ngModel)]="selectedBlock.Number" #bnum="ngModel" type="number" id="bnum">
                        <div class="alert alert-danger" *ngIf = "bnum.touched && !bnum.valid">Invalid input Number</div>
                    </div>
                    <div class="form-group  ">
                        <label for="num"> <i class="fa fas fa-space-shuttle"></i>المساحة الكلية للبلوك</label>
                        <input class="form-control" ngModel autocomplete="off" required placeholder="" name="area" [(ngModel)]="selectedBlock.Area" #area="ngModel" type="number" id="area">
                        <div class="alert alert-danger" *ngIf = "area.touched && !area.valid">Invalid input Area</div>
                    </div>
                    <div class="form-group  ">
                        <label for="name"> <i class="fa fa-plus"></i>عدد العمارات المتاحة داخل البلوك</label>
                        <input class="form-control" autocomplete="off" required placeholder="" ngModel name="num" [(ngModel)]="selectedBlock.towersNumber" #num="ngModel" type="number" id="num">
                        <div class="alert alert-danger" *ngIf = "num.touched && !num.valid">Invalid input number</div>
                    </div>
                    <div class="form-group ">
                        <label for="message"> <i class="fa flat-light-green-text"></i> وصف للبلوك</label>
                        <textarea class="form-control" autocomplete="off" ngModel required placeholder="" rows="3" name="desc" [(ngModel)]="selectedBlock.Desc" #desc="ngModel" cols="50" id="desc"></textarea>
                        <div class="alert alert-danger" *ngIf = "desc.touched && !desc.valid">Invalid Description</div>
                    </div>
                    <button (click)="handleRequest()" type="submit" class="btn button button-green-white btn-md btn-block" [disabled] = "!f.valid"><i class="fa fa-paper-plane-o"></i> حفظ</button>
                </form>
            </div>
        </div>
    </section>
</section>