<header class="container-fluid navbar navbar-expand-lg flex-row-reverse navbar-dark bg-dark d-flex justify-content-between">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse " id="main-menu">

        <ul class="form-inline no-p nav links ">
            <li class="nav-item align-self-center">
                <a (click)="logOut()" class="btn  btn-danger "><i class="fa fa-sign-out "></i> خروج </a>
            </li>
            <li class="nav-item align-self-center">
                <span rel="alternate" class="steel-text trans" style="color:white;">
                            |مرحبا بك ......
                </span>
            </li>
        </ul>
    </div>
</header>
<div class="container">
    <form class="pull-right  form-inline my-5 my-lg-2" method="GET">
        
        <button class="btn  btn-info my-2 my-sm-2 mr-1" type="submit" (click)="searchFamily(pattern)">أبحث</button>
        <input (input)="searchFamily(pattern)" class="form-control mr-sm-2" type="search" placeholder="اسم الشخص" name="pattern" [(ngModel)]="pattern">
    </form>
    <table class="table">
<thead class="thead-dark">
<tr>
  <th scope="col" style="text-align:center;">رقم العضو</th>
  <th scope="col" style="text-align:center;">اسم العضو</th>
  <th scope="col" style="text-align:center;">اسم المالك</th>
  <th scope="col" style="text-align:center;">تاريخ الميلاد</th>
  <th scope="col" style="text-align:center;">العلاقة</th>
  <th scope="col" style="text-align:center;">حذف</th>
</tr>
</thead>
<tbody>
<tr *ngFor = "let member of members">
  <th scope="row" style="text-align:center;">{{member.id}}</th>
  <th style="text-align:center;">{{member.Name}}</th>
  <th style="text-align:center;">{{correspondingOwner.Name}}</th>
  <th style="text-align:center;">{{member.Birthdate}}</th>
  <th style="text-align:center;">{{member.Relationship | text }}</th>
  <th style="text-align:center;"><a class="btn text-secondary px-0" (click)="deleteMember(member.id)"><i class="fa fa-trash" style="font-size:24px;color:red;"></i></a></th>
</tr>
</tbody>
</table>
<div class="alert alert-danger text-center" *ngIf = "members.length == 0">No Members to display</div>
</div>