<section class="background-flat-rose p-top-4 p-bottom-4 company">
        <section class="container-fluid">
            <div class="content p--5">
                <h2 class="text-center white-text">
                    <span class="title primary-text d-block">نبذة عن شركة أمنحتب</span>
                </h2>
                <section class="text-right p-top-3">
                    <p>تأسست شركة العاصمة للتسويق العقاري بسجل تجاري رقم 104048 لخدمة الراغبين في الشراء والاستثمار في العاصمة الإدارية الجديدة، والتي تعد أكبر مشروعات مصر منذ عقود. وهي شركة التسويق العقاري الوحيدة المتخصصة في العقارات بالعاصمة الجديدة،
                        وتقوم الشركة بتنظيم عملية الشراء والتملك في المدينة الواعدة، وتقديم أفضل الفرص لجمهور المهتمين بالاستثمار فيها.</p>
                    <p>قامت الشركة على فكرة توفير حلقة الوصل بين المطورين العقاريين في العاصمة الجديدة، والأفراد والشركات الراغبة في التملك والاستثمار فيها، وذلك من خلال مقر شركتنا في التجمع الخامس بالقاهرة الجديدة. ونتيح للمشترين والمستثمرين باقة كاملة
                        من أدوات البحث التي تساعدهم في العثور على العقار المناسب، وتزويدهم بكافة المعلومات والمستجدات عن أفضل الفرص الاستثمارية والعروض العقارية في العاصمة الجديدة التي تحقق لهم القيمة المضافة.</p>
                    <p>وكان فريق شركة العاصمة أول من قام بتغطية أخبار العمل في المدينة منذ وضع حجر الأساس في مايو 2015 في المؤتمر الاقتصادي في شرم الشيخ، وذلك من خلال صفحاتنا على <a href="https://www.facebook.com/TheNewCapitalEG" target="_blank">فيسبوك</a>                        و <a href="https://twitter.com/TheNewCapitalEG" target="_blank">تويتر</a> و <a href="https://www.instagram.com/TheNewCapitalEG" target="_blank">إنستجرام</a> أشهر مواقع التواصل الاجتماعي وأكثرها انتشاراً بين مستخدمي الإنترنت في
                        مصر.
                    </p>
                    <p>ورغم أن تأسيس الشركة بدء حديثاً مع الإعلان عن الطروحات في العاصمة الجديدة، إلا أنها اكتسبت سريعاً شهرة واسعة بين جمهور المهتمين بأخبار العاصمة، لقيامها المستمر بعرض كل أخبار العمل فيها والفرص الاستثمارية المطروحة، ولأنها تأسست على
                        مجموعة من مبادئ المهنية والاحترافية في خدمة العملاء، لتحقيق الريادة في سوق العقارات الناشئ بالمدينة الواعدة. ولذلك سارع المطورون العقاريون بالعاصمة للتواصل مع الشركة والتعاون معها في جذب العملاء من جمهور المهتمين بالشراء والتملك
                        في العاصمة الإدارية الجديدة.</p>

                </section>
            </div>
        </section>
    </section>