<header class="container-fluid navbar navbar-expand-lg flex-row-reverse navbar-dark bg-dark d-flex justify-content-between">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse " id="main-menu">

        <ul class="form-inline no-p nav links ">
            <li class="nav-item align-self-center">
                <a (click)="logOut()" class="btn  btn-danger "><i class="fa fa-sign-out "></i> خروج </a>
            </li>
            <li class="nav-item align-self-center">
                <span rel="alternate" class="steel-text trans" style="color:white;">
                            |مرحبا بك ......
                </span>
            </li>
        </ul>
    </div>
</header>
<div class="container">
<div style="background-color:black;color:white;margin:10px;text-align:center">
   <h3>التفاصيل العامة</h3>
</div>
<table class="table">
    <thead class="thead-dark-darkenblue">
        <tr>
            <th scope="col" style="text-align:center;color:red;">رقم المالك</th>
            <th scope="col" style="text-align:center;color:red;">الرقم القومى</th>
            <th scope="col" style="text-align:center;color:red;">الإســم</th>
            <th scope="col" style="text-align:center;color:red;">تاريخ الميلاد</th>
        </tr>
    </thead>
     <tbody>
        <tr *ngFor= "let o of ownerArr">
           <th scope="row" style="text-align:center;">{{o.id}}</th>
           <td style="text-align:center;">{{o.NID}}</td>
           <td style="text-align:center;">{{o.Name}}</td>
           <td style="text-align:center;">{{o.Birthdate}}</td>
        </tr>
     </tbody>
</table>
<div style="background-color:black;color:white;margin:10px;text-align:center">
   <h3>تفاصيل الاتصال</h3>
</div>
<table class="table">
    <thead class="thead-dark-darkenblue">
        <tr>
            <th scope="col" style="text-align:center;color:red;">رقم الموبايل</th>
            <th scope="col" style="text-align:center;color:red;">الرقم المنزلى</th>
        </tr>
    </thead>
     <tbody>
        <tr *ngFor= "let o of ownerArr">
           <th scope="row" style="text-align:center;">{{o.Mobile}}</th>
           <td style="text-align:center;">{{o.DSL}}</td>
        </tr>
     </tbody>
</table>
<div style="background-color:black;color:white;margin:10px;text-align:center">
   <h3>تفاصيل العائلة</h3>
</div>
<table class="table">
    <thead class="thead-dark-link">
        <tr>
            <th scope="col" style="text-align:center;">الإســـــم</th>
            <th scope="col" style="text-align:center;">صلة القرابة</th>
        </tr>
    </thead>
     <tbody>
        <tr *ngFor="let member of family | family : oid">
           <th scope="row" style="text-align:center;color:red;">{{member.Name}}</th>
           <td style="text-align:center;color:red;">{{member.Relationship | text }}</td>
        </tr>
     </tbody>
</table>
<div style="margin:10px;">
<div style="background-color:black;color:white;margin:10px;text-align:center">
   <h3>الصورة الشخصية</h3>
</div>
<img src={{owner.Avatar}} class="rounded mx-auto d-block" alt="No image to display" width="500" height="300" style="border:3px solid;">
</div>
<div style="margin:10px;">
<div style="background-color:black;color:white;margin:10px;text-align:center">
   <h3>صورة البطاقة</h3>
</div>
<img src={{owner.Proof}} class="rounded mx-auto d-block" alt="No image to display" width="500" height="300" style="border:3px solid;">
</div>
</div>