<div id="fb-root"></div>
    <header class="container-fluid navbar navbar-expand-lg flex-row-reverse navbar-dark background-dark d-flex justify-content-between">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse " id="main-menu">

            <ul class="form-inline no-p nav links ">
                <li class="nav-item align-self-center">
                    <a (click)="logOut()" class="btn  btn-danger "><i class="fa fa-sign-out "></i> خروج </a>
                </li>
                <li class="nav-item align-self-center">
                    <span rel="alternate" class="steel-text trans ">
                                |مرحبا بك ......
                    </span>
                </li>
            </ul>
        </div>
    </header>

    <section class="container-fluid services p-top-4 p-bottom-4 ">
        <h2 class="text-center white-text ">
            <span class="title ">خدماتنا</span>
        </h2>
        <div class="row justify-content-sm-center p-top-3 flex-row ">
            <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12 text-center ">
                <a [routerLink]="['/employee/employees']">
                    <figure>
                        <div>
                            <img height="200px" src="assets/images/staffPic.jpg" alt="محلات تجارية " class="trans animate-image ">
                        </div>
                        <figcaption class="trans " style="color: aliceblue !important;"> الموظفيين</figcaption>
                    </figure>
                </a>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12 text-center " style="color: aliceblue !important;">
                <a [routerLink]="['/employee/shops']" >
                    <figure>
                        <div>
                            <img height="200px" src="https://www.c-egy.com/images/services/shops.jpg " alt="محلات تجارية " class="trans animate-image ">
                        </div>
                        <figcaption class="trans " style="color: aliceblue !important;"> المحلات اتجاريه</figcaption>
                    </figure>
                </a>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12 text-center ">
                <a [routerLink]="['/employee/flats']">
                    <figure>
                        <div>
                            <img  height="200px" src="assets/images/flat_emp.jpg" alt="مقرات إدارية " class="trans animate-image ">
                        </div>
                        <figcaption class="trans " style="color: aliceblue !important;"> الشقق السكنية</figcaption>
                    </figure>
                </a>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12 text-center ">
                <a [routerLink]="['/employee/towers']">
                    <figure>
                        <div>
                            <img  height="200px" src="assets/images/toweImage.jpg" alt="فيلات وقصور " class="trans animate-image ">
                        </div>
                        <figcaption class="trans " style="color: aliceblue !important;"> العمارة السكنية</figcaption>
                    </figure>
                </a>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12 text-center ">
                <a [routerLink]="['/employee/blocks']">
                    <figure>
                        <div>
                            <img  height="200px" src="https://www.c-egy.com/images/services/flats.jpg " alt="شقق سكنية " class="trans animate-image ">
                        </div>
                        <figcaption class="trans " style="color: aliceblue !important;"> البلوكات</figcaption>
                    </figure>
                </a>
            </div>

            <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12 text-center ">
                <a [routerLink]="['/employee/compounds']">
                    <figure>
                        <div>
                            <img  height="200px" src="https://www.c-egy.com/images/services/lands.jpg " alt="أراضي استثمارية " class="trans animate-image ">
                        </div>
                        <figcaption class="trans " style="color: aliceblue !important;"> الكومباوندات</figcaption>
                    </figure>
                </a>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12 text-center ">
                <a [routerLink]="['/employee/offers']">
                    <figure>
                        <div>
                            <img  height="200px" src="../../assets/images/offers.jpg" alt="أراضي استثمارية " class="trans animate-image ">
                        </div>
                        <figcaption class="trans " style="color: aliceblue !important;"> العروض</figcaption>
                    </figure>
                </a>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12 text-center ">
                <a [routerLink]="['/employee/news']">
                    <figure>
                        <div>
                            <img  height="200px" src="../../assets/images/news.jpg" alt="أراضي استثمارية " class="trans animate-image ">
                        </div>
                        <figcaption class="trans " style="color: aliceblue !important;"> الاخبار</figcaption>
                    </figure>
                </a>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12 text-center ">
                <a [routerLink]="['/employee/requests']">
                    <figure>
                        <div>
                            <img  height="200px" src="../../assets/images/request.jpg" alt="أراضي استثمارية " class="trans animate-image ">
                        </div>
                        <figcaption class="trans " style="color: aliceblue !important;"> الطلبات و الشكاوى</figcaption>
                    </figure>
                </a>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12 text-center ">
                <a [routerLink]="['/employee/owners']">
                    <figure>
                        <div>
                            <img  height="200px" src="../../assets/images/PNGHunt.com.png" alt="أراضي استثمارية " class="trans animate-image ">
                        </div>
                        <figcaption class="trans " style="color: aliceblue !important;"> الملاك</figcaption>
                    </figure>
                </a>
            </div>
        </div>
    </section>

    <script type="text/javascript " src="js/script.js "></script>
    <script>
        localStorage.removeItem('isMarkerDraggable');
    </script>