<section class="container-fluid">
    <section class="row">
        <div class="col-md-6 offset-md-3 m-top-3 m-bottom-2">
            <p class="alert alert-warning m-bottom-1 text-center" role="alert">من فضلك اذا كانت لديك شكوى من احد موظفى الشركة <br>او لديك شكوى من إحدى عملائنا في البيع والشراء<br>برجـــــــار راسلنا لحل مشكلتك <br> شكرااااا
            </p>
            <div class="p-top-3 p-right--3 p-bottom-3 p-left--3 background-white">
                <h1 class="text-center primary-text title m-bottom-1">برجاء ملء البيانات التالية </h1>
                <form #f = "ngForm" method="POST" action="" accept-charset="UTF-8">
                    <div class="form-group ">
                        <label for="title"> <i class="fa fa-user"></i>عنوان الطلب/الشكوي</label>
                        <input class="form-control" autocomplete="off" required placeholder="عنوان الطلب/الشكوي" name="title" #title="ngModel" type="text" id="title" [(ngModel)]="newRequest.Title">
                        <div class="alert alert-danger" *ngIf = "title.touched && title.invalid">Title is not valid</div>
                    </div>
                    <div class="form-group ">
                        <label for="mobile"> <i class="fa fa-mobile"></i>رقم الموبايل</label>
                        <input class="form-control" required minlength="11" maxlength="11" pattern="[0-9]*" autocomplete="off" placeholder="اكتب رقم الموبايل الخاص بك..." name="mobile" #mobile="ngModel" type="tel" id="mobile" [(ngModel)]="newRequest.Mobile">
                        <p class="text-right form-text text-muted"><small>مثال: 010xxxxxxxx / 012xxxxxxxxx / 011xxxxxxxx</small></p>
                        <div *ngIf = "mobile.touched">
                                 <div class="alert alert-danger" *ngIf = "mobile.errors?.required">Mobile is required</div>
                                 <div class="alert alert-danger" *ngIf = "mobile.errors?.minlength">Mobile minimum length 11 digits</div>
                                 <div class="alert alert-danger" *ngIf = "mobile.errors?.minlength">Mobile Maximum length 11 digits</div>
                                 <div class="alert alert-danger" *ngIf = "mobile.errors?.pattern">Mobile must be numeric</div>
                        </div>
                    </div>
                    <div class="form-group ">
                        <label for="email"> <i class="fa fa-envelope-o"></i>البريد الإلكتروني</label>
                        <input class="form-control" autocomplete="off" required placeholder="اكتب بريدك الإلكتروني..." name="email" #email="ngModel" type="email" id="email" [(ngModel)]="newRequest.Email">
                        <div class="alert alert-danger" *ngIf = "email.touched && email.invalid">Email is not valid</div>
                    </div>
                    <div class="text-right form-group ">
                            <label for="message"> <i class="fa flat-light-green-text"></i>نوع الطلب </label>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" [(ngModel)]="newRequest.Type" name="inlineRadioOptions" id="inlineRadio1" value="طلب">
                                <label class="form-check-label" for="inlineRadio1">طلب</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" [(ngModel)]="newRequest.Type" name="inlineRadioOptions" id="inlineRadio2" value="شكوي">
                                <label class="form-check-label" for="inlineRadio2">شكوى</label>
                            </div>
                    </div>
                    <div class="form-group ">
                        <label for="desc"> <i class="fa fa-envelope"></i>الشكوى او المقترح </label>
                        <textarea class="form-control" autocomplete="off" required placeholder="اكتب رسالتك..." rows="3" name="desc" #desc="ngModel" cols="50" id="desc" [(ngModel)]="newRequest.Desc"></textarea>
                        <div class="alert alert-danger" *ngIf = "desc.touched && desc.invalid">Text is not valid</div>
                    </div>
                    <div *ngIf="submitted" class="alert alert-success box-msg" role="alert" id="success" style="text-align:center;">تم تقديم طلبكم بنجاح</div>
                    <button (click)="createNewRequest()" [disabled] = "!f.valid" type="submit" class="btn button button-red btn-md btn-block"><i class="fa fa-paper-plane-o"></i> ارسال</button>
                </form>
            </div>
        </div>
    </section>
</section>