<header class="container-fluid navbar navbar-expand-lg flex-row-reverse navbar-dark bg-dark d-flex justify-content-between">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse " id="main-menu">

        <ul class="form-inline no-p nav links ">
            <li class="nav-item align-self-center">
                <a (click)="logOut()" class="btn  btn-danger "><i class="fa fa-sign-out "></i> خروج </a>
            </li>
            <li class="nav-item align-self-center">
                <span rel="alternate" class="steel-text trans" style="color:white;">
                            |مرحبا بك ......
                </span>
            </li>
        </ul>
    </div>
</header>
<div class="container">
    <form class="pull-right  form-inline my-5 my-lg-2" method="GET">
        <button class="btn  btn-outline-info my-2 my-sm-2" type="sumit">أبحث</button>
        <input class="form-control mr-sm-2" type="search" placeholder="أبحث" name="q">
    </form>
    <table class="table">
<thead class="thead-dark">
<tr>
  <th scope="col" style="text-align:center;">التاريخ</th>
  <th scope="col" style="text-align:center;">عنوان الطلب</th>
  <th scope="col" style="text-align:center;">الشكوى</th>
  <th scope="col" style="text-align:center;">البريد الإلكترونى</th>
  <th scope="col" style="text-align:center;">حذف</th>
</tr>
</thead>
<tbody>
<tr *ngFor = "let request of requests">
  <th scope="row" style="text-align:center;">{{request.created_date}}</th>
  <td style="text-align:center;">{{request.Title}}</td>
  <td style="text-align:center;">{{request.Desc}}</td>
  <td style="text-align:center;">{{request.Email}}</td>
  <td style="text-align:center;"><a class="btn text-secondary px-0" (click)="deleteRequest(request.id)"><i class="fa fa-trash" style="font-size:24px;color:red;"></i></a></td>
</tr>
</tbody>
</table>
<div class="alert alert-danger text-center" *ngIf = "requests.length == 0">No requests to display</div>
</div>